@model MedicaTeams.Models.VaccineCandidate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VaccineCandidate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccineDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccineDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abnormalities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abnormalities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue.VenueName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
